body {
  background-color: bisque;
}

p {
  line-height: 2.5em;
}

h3 {
  text-transform: uppercase;
}

h6 {
  text-transform: uppercase;
  text-align: center;
}

li {
  text-transform: capitalize;
}

.second li {
    text-transform: uppercase;
    position: relative;
    list-style: none; 
}
.second li::before{
  content: '\1F31F'; 
  position: absolute;
  left: -25px;
}

.general li {
    text-transform: uppercase;
    position: relative;
    list-style: none; 
  }
  
  .general li::before {
    content: '\1F4CC'; 
    position: absolute;
    left: -25px;
  }
  